label.btn{
    display: inline-block;
    width: 40%;
    margin: 1% 0;

}

div.mb-3{
    float: right;
    width: 50%;
}
div.attend_s{
    margin-top: 2%;
    padding: 0 15%;
}
button.submit{
    width: 20%;
    margin: 0 2%;
}

